* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    background-color: black;
    color: white;
}

header {
    display: flex;

    height: 25%;

    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 2rem;
    letter-spacing: 0.15rem;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#score {
    text-align: center;
    font-size: 3rem;
}

.round-info {
    display: flex;
    
    flex-direction: column;
    padding: 5%;

    gap: 20px;

    text-align: center;
    font-size: 1.25rem;
}

.player-choices {
    display: flex;

    width: 100%;

    align-items: center;
    justify-content: space-evenly;

    list-style: none;
}

.player-choice {
    display: flex;

    padding: 3%;

    max-width: 192px;
    max-height: 192px;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-size: 2.5rem;

    transition: transform 0.15s,
                box-shadow 0.15s;

    border: 5px solid white;
    border-radius: 15%;
}

.player-choice:hover {
    cursor: pointer;

    box-shadow: 0px 0px 75px 15px white;

    transform: scale(1.15);
}
